<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Lista de Supermercados
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="page2">
    <ion-list *ngFor="let Supermercado of Supermercados">
      <ion-item>
        <ion-thumbnail item-start>
          <img [src]="Supermercado.Photo">
        </ion-thumbnail>
        <h2> {{ Supermercado.Nome_Supermercado }} </h2>
        <p>{{ Supermercado.Descricao }}</p>
        <button ion-button clear item-end>Maps</button>
      </ion-item>
    </ion-list>
  </ion-content>
