<ion-header>
    <ion-navbar>
      <ion-title>
        {{ Supermercado.Nome_Supermercado }}
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
        <ion-card-content>
          {{ Supermercado.Descricao }}
        </ion-card-content>
      </ion-card>
  </ion-content>