<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="page1">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list *ngFor="let Produto of Produtos">
      <ion-item>
        <ion-thumbnail item-start>
          <img [src]="">
        </ion-thumbnail>
        <h2> {{ Produto.Nome_Produto }} </h2>
        <p>{{ Produto.Preco }}</p>
        <button ion-button clear item-end>View</button>
      </ion-item>
    </ion-list>
</ion-content>