<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu21">
    <ion-list id="menu-list1">
      <ion-item color="none" menuClose="" on-click="goToHome()" id="menu-list-item1">
        Home
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToListaDeSupermercados()" id="menu-list-item2">
        Supermercados
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToSobre()" id="menu-list-item3">
        Sobre
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>