<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Sobre
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3"></ion-content>